@model DanceClass.Models.ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Đổi mật khẩu";
}

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()

    if (ViewBag.IsDefaultPwd == true)
    {
        <p class="login-box-msg" style="padding-bottom: 10px">Mật khẩu đang sử dụng là mật khẩu mặc định. Vui lòng đổi mật khẩu mới để tiếp tục</p>
    }

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Mật khẩu cũ" })
    </div>
    <div class="form-group">
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Mật khẩu mới" })
    </div>
    <div class="form-group">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Xác nhận mật khẩu mới" })
    </div>
    <div class="form-group">
        <input type="submit" value="Đổi mật khẩu" class="btn btn-primary btn-block btn-flat" />
    </div>
}

@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "signOutForm" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <a href="javascript:document.getElementById('signOutForm').submit()" class="btn btn-default btn-flat btn-block">Đăng thoát</a>
    </div>
}

